[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libsodium"]
	path = libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "format-preserving-encryption"]
	path = format-preserving-encryption
	url = https://github.com/hiroki-chen/format-preserving-encryption.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
